! -----------------------------------------------------------------------------------------------------
! 
!    Tokoy City color scheme
!
!    Copyright © 2022 To Cyb3rTh1eveZ
!
!
!    ██████╗██╗   ██╗██████╗ ██████╗ ██████╗ ████████╗██╗  ██╗ ██╗███████╗██╗   ██╗███████╗███████╗
!   ██╔════╝╚██╗ ██╔╝██╔══██╗╚════██╗██╔══██╗╚══██╔══╝██║  ██║███║██╔════╝██║   ██║██╔════╝╚══███╔╝
!   ██║      ╚████╔╝ ██████╔╝ █████╔╝██████╔╝   ██║   ███████║╚██║█████╗  ██║   ██║█████╗    ███╔╝ 
!   ██║       ╚██╔╝  ██╔══██╗ ╚═══██╗██╔══██╗   ██║   ██╔══██║ ██║██╔══╝  ╚██╗ ██╔╝██╔══╝   ███╔╝  
!   ╚██████╗   ██║   ██████╔╝██████╔╝██║  ██║   ██║   ██║  ██║ ██║███████╗ ╚████╔╝ ███████╗███████╗
!    ╚═════╝   ╚═╝   ╚═════╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝  ╚═╝ ╚═╝╚══════╝  ╚═══╝  ╚══════╝╚══════╝
! 
!    
! 
!    Copyright (C) Mahmoud Mohamed (00xWolf)  <https://github.com/mmsaeed509>
!    LICENSE © GNU-GPL3
!
! -----------------------------------------------------------------------------------------------------

#include ".Xresources.d/colors"
#include ".Xresources.d/fonts"
#include ".Xresources.d/rxvt-unicode"
